<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="form-row">
                <div class='col'>
                    <h2 class="pagheadng">View Information </h2>
                </div>
                <div class=" col text-right">
                    <div class="form-group">
                        <button class="btn btn-secondary otpbutton" type="button" routerLink="/Articlelist">
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="col-12">
                <div class="form-row">
                    <div class="col-xs-12 col-md-4 ">
                        <b>Item Name : </b> {{objArticle?.ItemName}}
                    </div>
                    <div class="col-xs-12 col-md-4 ">
                        <b>Item Image : </b> {{objArticle?.ItemImage}}
                    </div>
                    <div class="col-xs-12 col-md-4 ">
                        <b>Item price : </b> {{objArticle?.Itemprice}}
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-xs-12 col-md-4 ">
                        <b>Item description : </b> {{objArticle?.Itemdescription}}
                    </div>
                    <div class="col-xs-12 col-md-4 ">
                        <b>Item additionDate : </b> {{objArticle?.ItemadditionDate}}
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>